@media(max-width: 700px) {
    
    .header {
        flex-direction: column;
        margin-top: 47px;
    }

    .logo h1 {
        font-size: 4rem;
        font-weight: 800;
    }

    .menu {
        flex-direction: column;
        margin-top: 100px;
    }

    .menu li {
        padding: 33px 0;
    }

    .menu li:last-child{
        margin-top: 20px;
    }

    .menu li a {
        font-size: 4rem;
        padding: 17px 40px;
    }

    .menu li a.btn {
        font-size: 1.8rem;
        padding: 15px 23px;
        font-weight: 300;
    }
}